!.gitkeep

.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
vendor/
.phpintel/
.env
.DS_Store
.phpunit*
docker/fe/nginx/logs
docker/clickhouse/data
docker/mysql/data
docker/mysql/logs
docker/redis/data